<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="post" action="" >
        <div style="max-width: 400px;">
        </div>
        <div style="padding-bottom: 18px;font-size : 24px;">Student Feedback</div>
        <div style="padding-bottom: 18px;font-size : 18px;">Please help us improve our courses by filling out this form.</div>
        <div style="display: flex; padding-bottom: 18px;max-width : 500px;">
        <div style=" margin-left: 0; margin-right: 1%; width: 49%;">Teacher / Instructor first name<br/>
        <input type="text" id="data_3" style="max-width: 100%;" class="form-control" name="firstName"/>
        </div>
        <div style=" margin-left: 1%; margin-right: 0; width: 49%;">Teacher / Instructor last name<br/>
        <input type="text" id="data_4" style="max-width: 100%;" class="form-control" name="lastName"/>
        </div>
        </div><div style="display: flex; padding-bottom: 18px;max-width : 500px;">
        <div style=" margin-left: 0; margin-right: 1%; width: 49%;">Subject<br/>
        <input type="text" id="data_5" style="max-width: 100%;" class="form-control" name="subject"/>
        </div>
        <div style=" margin-left: 1%; margin-right: 0; width: 49%;">Course code<br/>
        <input type="text" id="data_6" style="max-width: 100%;" class="form-control" name="courseCode"/>
        </div>
        </div><div style="padding-bottom: 18px;">Why did you chose this course?<br/>
        <select id="data_7" style="max-width : 500px;" class="form-control" name="whyChoose"><option>Degree requirement</option>
        <option>Personal interest</option>
        </select>
        </div>
        <div style="padding-bottom: 18px;">Level of knowledge on start of course<br/>
        <select id="data_9" style="max-width : 500px;" class="form-control" name="knowledgeLevel"><option>Very good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very poor</option>
        </select>
        </div>
        <div style="padding-bottom: 18px;">Level of effort invested in course<br/>
        <select id="data_10" style="max-width : 500px;" class="form-control" name="effortLevel"><option>Very good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very poor</option>
        </select>
        </div>
        <div style="padding-bottom: 18px;">Level of knowledge at the end of the course<br/>
        <select id="data_11" style="max-width : 500px;" class="form-control" name="atEnd"><option>Very good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very poor</option>
        </select>
        </div>
        <div style="padding-bottom: 18px;">Level of communication<br/>
        <select id="data_12" style="max-width : 500px;" class="form-control" name="communication"><option>Very good</option>
        <option>Good</option>
        <option>Fair</option>
        <option>Poor</option>
        <option>Very poor</option>
        </select>
        </div>
        <div style="padding-bottom: 18px;">Would you recommend this course to other students?<br/>
        <select id="data_8" style="max-width : 500px;" class="form-control" name="recommendation"><option>Yes</option>
        <option>No</option>
        <option>Not sure</option>
        </select>
        </div>
        <div style="padding-bottom: 18px;"><button name="skip_Submit" value="Submit" type="submit">Submit</button></div>
        </form>
</body>
</html>